
<p>	Die helle Gaststube im Erdgeschoß bietet Platz für etwa 135 Personen, verteilt auf drei Gasträume. Die beiden Nebenzimmer lassen sich individuell abtrennen, so dass Sie mit Ihrer geschlossener Gesellschaft ganz unter sich bleiben können.</p>
<b>
<p>Warme Farben, die liebevolle Dekoration und gemütliche Beleuchtung unterstreichen das Wohlfühl-Ambiente unseres Wirtshauses.
</p>
	
		
<%= render 'homebilder' %>
		


