<div class="comment">
  
    <div class="col-md-12">

  <p class="comment-posted-by" class="comment-time"><%= @product.user.name%> <%= time_ago_in_words(@product.created_at) %> ago</p>
    



  <p class="comment-content"><%= comment.content %></p>
    </div>
  
</div>