
 
		<h6><div class="navbar">
		  <%= link_to "Das Wirtshaus", das_wirtshaus_home_path %>
		  <%= link_to "Speisen & Getränke", startseiten_speisen_a_getraenke_path %>
		  <%= link_to "Anfahrt", das_wirtshaus_anfahrt_path %>
		  <%= link_to "Reservierung", reservations_path %>
		 </div></h6>


