/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

@mixin background-tile {
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 0px;
  box-shadow: 0.5px 0.5px 1px 2px #ccc;
  /*border: 1px light grey;*/
  padding: 1.5em 1.25em;
}


/* Navbar */




/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/*------------------------*/
      /* products-show */
/*------------------------*/

.unterteilung-in-show {
  border-top: 1px solid #eaeaea;

}

/*------------------------*/
      /* Pictures */
/*------------------------*/

.product {
  height: 350px;
  width:250px;
  margin-bottom: 40px;
  @include background-tile;
}


.product-show {
	height: 600px;
  width: 450px;
  @include background-tile;
}



/*------------------------*/
        /* forms */
/*------------------------*/

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/*------------------------*/
        /* Comment */
/*------------------------*/

.comment-posted-by {
  font-size: 1.2em;
}

.comment-content {
  font-size: 0.8em;
}

.comment-time {
  font-size: 0.8em;
}


/*------------------------*/

#custom-search-input {
        margin:0;
        margin-top: 10px;
        padding: 0;
    }
 
    #custom-search-input .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
 
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
 
    #custom-search-input button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color:#382626;
    }
 
    .search-query:focus + button {
        z-index: 3;   
    }

/*------------------------*/
/* Favorisierungs Button */
/*------------------------*/

.favorisieren {
 
}

/*------------------------*/
    /* Users index */
/*------------------------*/

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

.navbar-inverse {
    background-color: #ffffff;
    border-color: #ffffff;
    font-color: #000000;
}

/*------------------------*/
      /* Closet */
/*------------------------*/

.name-unten-closet {
  font-color: black;
  font-size: 20px;
  position: center;
  border-top: 1px solid #eaeaea;
}