<h3 class="obenmitte">Wochenkarte</h3>


<dl class="wochenkarte">vom 09.01.2017 bis 13.01.2017 <br/>

in der Zeit von 11:30 bis 14:30 Uhr<br/>

Jedes Gericht für € 6,80 oder mit Tagessuppe oder Salat für € 8,30<br/>

Tagespasta für € 5,00<br/>

<hr/>

<dt>- Montag -</dt>

<dd>Gericht 1: Schweinelendengeschnetzeltes „Züricher Art“ mit Kartoffelkroketten<br/>

Gericht 2: Portion Schweinshaxe in Naturjus mit Kartoffelknödl<br/>

Vegetarisch: Omelette mit Kartoffeln, Mozzarella, roten Zwiebeln und Tomate<br/>

<hr/>

<dt>- Dienstag -</dt>

<dd>Gericht 1: Zwei Fleischpflanzerl mit Karotten-Rahm-Gemüse und Herzoginkartoffeln<br/>

Gericht 2: Spießbraten mit Knoblauch und Zwiebeln, dazu Tzaziki und gebräunte Knödel<br/>

Vegetarisch: Rahmspinat mit Kräuterrührei und Salzkartoffeln<br/>

<hr/>

<dt>- Mittwoch-</dt>

<dd>Gericht 1: Putenschnitzel „Wiener Art“ mit Kartoffel- Endivien-Salat<br/>

Gericht 2:  Eintopf von grünen Schälerbsen mit Kassler und Wurzelgemüse<br/>

Vegetarisch: Cannelloni mit Ricotta/Spinat auf Tomatensugo<br/>

<hr/>

<dt>- Donnerstag-</dt>

<dd>Gericht 1: Schaschlik-Spieß mit Zigeunersoße und Reis<br/>

Gericht 2:  ½ Hendl mit Pommes Frites<br/>

Vegetarisch: Eier in Senfsoße mit Kartoffelpüree</dd>

<hr/>
<dt>- Freitag -</dt>

<dd>Gericht 1: Gebackenes Kabeljaufilet mit Remouladensoße und Kartoffel-Gurken-Salat<br/>

Gericht 2: Rindergulasch mit gebräunten Breznknödl<br/>

Vegetarisch: Milchreis mit Zucker-Zimt, brauner Butter und Apfelmus</dd>
</dl>