
<h3 id='user'>Aus unserer Wurstkuchel</h3>
<div id='popup'>Extended info about a user</div>

   <p> Original Münchner Weißwurst mit Hausmacher-Senf gibt's Samstag und Sonntags kesselfrisch vom Metzger Magnus Bauch

pro Stück € 1,60</p>

    <p>Ofenfrischer Leberkas (200g) auch vom Metzger Magnus Bauch mit Kartoffelsalat

€ 7,50

- auf Wunsch zusätzlich mit am Ochsenaug (+ € 0,60)</p>

 
<p>
    7 Nürnberger Rostbratwürst'l auf Specksauerkraut mit Salzkartoffeln und dazu an scharfen Senf

€ 7,60</p>

 

~~~


<p>Täglich ofenfrische Brez´n, Stück € 1,00</p>

<br>

<div class=wochi>
<%= render 'startseiten/wochenkarte' %>
</div>

Änderungen vorbehalten !!!
< Zurück 	  	Weiter >
 

Gerne senden wir Ihnen unsere Wochenkarte auch aktuell per E-Mail oder Fax. Anfragen bitte über das >> Kontaktformular <<