

	<div class="container">
	<div class="row">

	<%= @products.each do |product| %>
			<div class="col-xs-6 col-md-3">
			<%#erlaubt 4 Artikel nebeneinander col = colum , insgesamt gibt es 12 und diese werden durch 3 geteilt%>

				<a href="/products/<%= product.id %>">
	 			<%=image_tag product.img.url(:product_index), class: "product"  %>
	 				
	 			</a>
			<div>
		<% end %>
	</div>

		</div">




 