<h1 class="current-category"><%= params[:category] %></h1>

<% if @products.count == 0 %>
<h1>There are currently no items in this category</h1>
	<%else %>
		<%= @products.each do |product| %>
		<h2><%= link_to product.title, product_path(product) %></h2>
	<% end %>
<% end %>



